extends layout

block content
    form(method='POST' action='/logout')
        button(type='submit') Αποσύνδεση

    h1 Καλησπέρα #{student.firstName}
    br
    p Πληροφορίες Φοιτητή
    br
    table(border='1')
        tr
            td Όνομα
            td=student.firstName
        tr
            td Επίθετο
            td=student.lastName
        tr
            td Ημ/νία Γέννησης
            td=student.dateOfBirth
        tr
            td Αριθμός Ταυτότητας
            td=student.identityCardNO
        tr
            td Αριθμός Μητρώου
            td=student.academicID
        tr
            td Τμήμα
            td=student.dept
    br
    p Στοιχεία Επικοινωνίας
    form(method='POST' action='/updatestudent/' + student.id)
        table(border='1')
            tr
                td Email
                td=student.email
                td
                    input(type='text', id='email', placeholder='Email', name='email' )
            tr
                td Τηλέφωνό επικοινωνίας
                td=student.phone
                td
                    input(type='number', id='phone', placeholder='Τηλέφωνο επικοινωνίας', name='phone')
        button(class = 'submit-button') Αποθήκευση
        if typeof(dataUpdated) !== 'undefined'
            if dataUpdated
                p Τα στοιχεία επικοινωνίας ενημερώθηκαν επιτυχώς
            else
                p Η ανανέωση των στοιχείων σας απέτυχε